@import "tailwindcss";


.container__primary {
  @apply mx-auto w-[93%];
}

.transition__effect {
  @apply ease-in-out transition-all duration-200
}


.sidebar__scroll::-webkit-scrollbar {
  width: 6px;
}

.sidebar__scroll::-webkit-scrollbar-track {
  background: transparent;
  /* Seamless blend */
}

.sidebar__scroll::-webkit-scrollbar-thumb {
  background: #3b82f6;
  /* Blue thumb */
  border-radius: 4px;
}